@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --theme-color: #9b59b6;
  --highlight-theme-color: #8e44ad;
  --theme-text-color: #fafafa;
  --top-bar-color: #0e1111;
  --top-bar-text-color: #fefefe;
  --background-color: #{$light-background-color};
  --content-background-color: #{lighten($light-background-color, 2%)};
  --form-input-color: #{lighten($light-background-color, 5%)};

  --border-color: #ebebeb;
  --error-color: #f01414;

  --side-bar-color: #{darken($light-background-color, 3%)};
  --side-bar-hover-color: #{darken($light-background-color, 5%)};
  --side-bar-active-color: #{darken($light-background-color, 10%)};
  --side-bar-active-hover-color: #{darken($light-background-color, 13%)};
}
